@import "../../styles/variables";



.modal-form {
  width: 50%;
  color: black;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 2;

  &__inputs {
    display: flex;
    flex-wrap: wrap;

    input, select {
      margin: 20px;
      width: calc(50% - 2 * 20px)

    }

  }

}

